.articlepage,
.creativepage,
.errorpage,
.momentspage,
.myspacepage,
.playpage,
.searchpage {
    width: 25%;
    background-color: #f2f3f4;
}

.searchpage.scroll {
   width: 60%; 
   background-color: #f2f3f4;
}
button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 15%;
    height: 80%;
    background-color: #00aeec;
}