@font-face {
  font-family: "iconfont"; /* Project id 4115827 */
  src: url('iconfont.woff2?t=1686490647172') format('woff2'),
       url('iconfont.woff?t=1686490647172') format('woff'),
       url('iconfont.ttf?t=1686490647172') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_userlevel_:before {
  content: "\e6cb";
}

.icon-ic_userlevel_1:before {
  content: "\e6cc";
}

.icon-ic_userlevel_2:before {
  content: "\e6cd";
}

.icon-ic_userlevel_3:before {
  content: "\e6ce";
}

.icon-ic_userlevel_4:before {
  content: "\e6cf";
}

.icon-ic_userlevel_5:before {
  content: "\e6d0";
}

.icon-ic_userlevel_6:before {
  content: "\e6d1";
}

.icon-dianshiju-:before {
  content: "\e6d4";
}

.icon-bianjituijian:before {
  content: "\e6d5";
}

.icon-dianshiju:before {
  content: "\e6d6";
}

.icon-dong:before {
  content: "\e6d7";
}

.icon-dianying:before {
  content: "\e6d8";
}

.icon-guanggao:before {
  content: "\e6d9";
}

.icon-chun:before {
  content: "\e6da";
}

.icon-guixu:before {
  content: "\e6db";
}

.icon-fanjutuijian:before {
  content: "\e6dc";
}

.icon-guochandonghuatuijian:before {
  content: "\e6dd";
}

.icon-shenghuo:before {
  content: "\e6de";
}

.icon-shishang:before {
  content: "\e6df";
}

.icon-suoyin:before {
  content: "\e6e0";
}

.icon-shijianbiao:before {
  content: "\e6e1";
}

.icon-wodezhuifan:before {
  content: "\e6e2";
}

.icon-keji-:before {
  content: "\e6e3";
}

.icon-wanjietuijian:before {
  content: "\e6e4";
}

.icon-youxi:before {
  content: "\e6e5";
}

.icon-zhibo:before {
  content: "\e6e6";
}

.icon-yule:before {
  content: "\e6e7";
}

.icon-zuixinlianzai:before {
  content: "\e6e8";
}

