

.left.homepage a,
.left.moviepage a{
    color: #ffffff;
}
.left.scroll a{   
    color: #18191c;
}
.left.playpage a,
.left.articlepage a,
.left.searchpage a,
.left.spacepage a{
    color: #18191c;
}

.left.moviepage.scroll a{
    color: #ffffff;
}