@font-face {
  font-family: "colour"; /* Project id 4115827 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1690680162252') format('woff2'),
       url('iconfont.woff?t=1690680162252') format('woff'),
       url('iconfont.ttf?t=1690680162252') format('truetype');
}

.colour {
  font-family: "colour" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_userlevel_:before {
  content: "\e6cb";
}

.ic_userlevel_1:before {
  content: "\e6cc";
}

.ic_userlevel_2:before {
  content: "\e6cd";
}

.ic_userlevel_3:before {
  content: "\e6ce";
}

.ic_userlevel_4:before {
  content: "\e6cf";
}

.ic_userlevel_5:before {
  content: "\e6d0";
}

.ic_userlevel_6:before {
  content: "\e6d1";
}

.dianshiju-:before {
  content: "\e6d4";
}

.bianjituijian:before {
  content: "\e6d5";
}

.dianshiju:before {
  content: "\e6d6";
}

.dong:before {
  content: "\e6d7";
}

.dianying:before {
  content: "\e6d8";
}

.guanggao:before {
  content: "\e6d9";
}

.chun:before {
  content: "\e6da";
}

.guixu:before {
  content: "\e6db";
}

.fanjutuijian:before {
  content: "\e6dc";
}

.guochandonghuatuijian:before {
  content: "\e6dd";
}

.shenghuo:before {
  content: "\e6de";
}

.shishang:before {
  content: "\e6df";
}

.suoyin:before {
  content: "\e6e0";
}

.shijianbiao:before {
  content: "\e6e1";
}

.wodezhuifan:before {
  content: "\e6e2";
}

.keji-:before {
  content: "\e6e3";
}

.wanjietuijian:before {
  content: "\e6e4";
}

.youxi:before {
  content: "\e6e5";
}

.zhibo:before {
  content: "\e6e6";
}

.yule:before {
  content: "\e6e7";
}

.zuixinlianzai:before {
  content: "\e6e8";
}

